@import url("https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap");

.float_button {
  position: fixed;
  bottom: 40px;
  right: 40px;
}

.vinyl {
  font-family: "Rubik Vinyl", cursive;
}

.min100vh {
  min-height: 100vh;
}

.min80vh {
  min-height: 80vh;
}

.pointer {
  cursor: pointer;
}

.rockScissorsPaperContainer {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 20vh;
  height: 30vh;
  justify-content: center;
  align-items: center;
  position: relative;
}

.rockScissorsPaperContainer--box {
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.turnSelector--box {
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.rockScissorsPaperContainer--box__item {
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 10em;
  cursor: pointer;
  color: white;
}

.rockScissorsPaperContainer--box__item:hover {
  color: gold;
}

.rockScissorsPaperContainer--box__item_active {
  color: gold;
}

.rockScissorsPaperContainer--box__item--message {
  text-decoration: underline;
}

.strike {
  text-decoration: line-through;
}
